@import '../../styles/style.scss';

.Card {
    background-color: $blue2;
    border: 1px solid $gray1;
    box-shadow: $padding $padding $padding $gray1-shadow;

    a {
        font-weight: bold;
        color: $black;
    }
}
