@import '../../styles/style.scss';

.Footer {
    padding: $padding;
    background-color: $gray2;
    border-top: 1px solid $gray1;
    border-bottom: 1px solid $gray1;
    box-shadow: $padding $padding $padding $gray1-shadow;
}
