/* stylelint-disable */

.DATE{
    color: #80cbc4;
}

.GPE {
    color: #ffcc80;
}

.PERSON {
    color: #b39ddb;
}

.ORG {
    color: #80deea;
}

.CARDINAL {
    color: #bcaaa4;
}

.EVENT {
    color: #fff176;
}

.FAC {
    color: #ffcc80;
}

.LAW {
    color: #ef9a9a;
}

.LOC {
    color: #ffcc80;
}

.MONEY {
    color: #bcaaa4;
}

.NORP {
    color: #b39ddb;
}

.ORDINAL {
    color: #ffcc80;
}

.PERCENT {
    color: #bcaaa4;
}

.PRODUCT {
    color: #80cbc4;
}

.QUANTITY {
    color: #bcaaa4;
}

.TIME {
    color: #80cbc4;
}

.WORK_OF_ART {
    color: #ffcc80;
}

.UNKNOWN {
    color: #000;
}
