/* stylelint-disable */

@import '../../../styles/style.scss';

.SlidePanel {
    display: flex;
    flex-wrap: wrap;
    min-height: 500px;
    margin-right: -15px;
    margin-left: -15px;

    :global(.slide-menu) {
        min-width: 50px;
        max-width: 50px;
        padding-top: $padding;
        overflow: hidden;
        background-color: $gray1;

        a {
            color: $black;
        }

        a:hover,
        a:focus {
            color: $white;
        }
    }

    :global(.slide-left) {
        padding: $padding;
        padding-right: (2 * $padding);
        background-color: $gray2;
        transition: min-width 0.5s, max-width 0.5s;
    }

    :global(.slide-middle) {
        position: relative;
        min-width: 1px;
        max-width: 1px;
        background-color: $gray1;
    }

    :global(.slide-toggle) {
        position: absolute;
        top: 200px;
        left: -1em;

        a {
            padding: $padding;
        }
    }

    :global(.slide-right) {
        padding: $padding;
        padding-left: (2 * $padding);
        transition: min-width 0.5s, max-width 0.5s;
    }
}

:global(.slide-open) {
    :global(.slide-left) {
        display: block;
        min-width: 400px;
        max-width: 400px;
    }

    :global(.slide-right) {
        min-width: calc(100% - 451px);
        max-width: calc(100% - 451px);
    }
}

:global(.slide-closed) {
    :global(.slide-left) {
        min-width: 0;
        max-width: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    :global(.slide-right) {
        min-width: calc(100% - 51px);
        max-width: calc(100% - 51px);
    }
}
