@import '../../styles/style.scss';

.Header {
    background-color: $blue1 !important;

    :global(.navbar-brand) {
        color: $white !important;
    }

    :global(.navbar-toggler) {
        color: $white !important;
        border-color: $white !important;
    }

    :global(.nav-link) {
        color: $white !important;
    }
}
