$white: #fff;
$black: #000;

$blue1: #6d7aff;
$blue2: #eeeeef;

$gray1: #ced4da;
$gray2: #fafafa;

$gray1-shadow: rgba(206, 212, 218, 0.8);
$gray2-shadow: rgba(250, 250, 250, 0.8);

$cite-background: rgba(109, 122, 255, 0.4);
$cite-border-radius : 0.5em;

$padding: 1em;

$autocomplete-radius: 0.25rem;
