@import '../../../styles/style.scss';

.SearchPanel {
    position: relative;
    margin-bottom: $padding;

    .ResultsList {
        position: absolute;
        top: ($padding / 2 * -1);
        z-index: 999;
        width: 100%;
        padding: $padding;
        background-color: $white;
        border: 1px solid $gray1;
        border-top: 0;
        border-bottom-right-radius: $autocomplete-radius;
        border-bottom-left-radius: $autocomplete-radius;
        box-shadow: $padding $padding $padding $gray1-shadow;
    }

    .Open {
        position: relative;
    }

    .Closed {
        position: relative;
    }
}
