<!DOCTYPE html>
<html lang="en" class="noscript">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adarga Suite</title>
    <base href="{{{base}}}" />
    <link rel="icon" href="https://reactjs.org/favicon.ico" />
    <link rel="stylesheet" href="./fontawesome/css/all.css" />
    <link rel="stylesheet" href="./styles/bootstrap.min.css" >

    {{#if css}}
        <link rel="stylesheet" href="{{{css}}}" />
    {{/if}}
</head>

<body>
    <div id="app">{{{content}}}</div>

    <script type="text/javascript">
        window.INITIAL_ENV = '{{{env}}}';
        window.INITIAL_STATE = '{{{state}}}';
    </script>

    {{#if script}}
        <script type="text/javascript" src="{{{script}}}"></script>
    {{/if}}
</body>

</html>
